<!DOCTYPE html>
<html>
<head>
    <title>School - ADD</title>
</head>
<body>
<h1>Edit School</h1>
<form action="/school/update" method="get">
    School Name: <input id="school_name"
    name="school_name"
    type="text"
    value="<%= school.school_name%>"
    />
    <br />
            <% for(var i=0; school_result.length > i; i++ ) {
                var checked ="";

                if(school_result[i].school_id != null) {
                    checked = "checked";
                }
            %>


    <input type="checkbox" name="school_id" <%= checked %> value="<%= school_result[i].school_id %>"> <%= school_result[i].school_name + ',' +
    address_result[i].school_id %>
    <br/>


        <% } %>

    <input type="submit" />
    <input type="hidden"
           id="school_id"
           name="school_id"
           value="<%= school.school_id %>"
    />

</form>
</body>
</html>